* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}

header {
  background-image: linear-gradient(to right, #ffce00, #fe4880);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

header input {
  display: inline-block;
  color: #fff;
  font-style: italic;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  background: none;
  outline: none;
  border: none;
  appearance: none;
}

header:before {
  content: "/r/";
  font-style: italic;
  font-size: 32px;
  font-weight: 700;
  background: none;
}

.articles article {
  padding: 30px 15px;
  background-color: #fff;
}
.articles article:nth-child(2n) {
  background-color: #f3f3f3;
}
.articles article a {
  text-decoration: none;
}

.articles article h3 {
  color: #212121;
}
.articles article:hover {
  background: #aaa8a8;
}
